<footer class="page-footer">
        <div class="row">
            <div class="col l6 s12">
            <h5 class="white-text">info</h5>
            
            <a class="grey-text text-lighten-3" href="#!">about us </a> ||
                <a class="grey-text text-lighten-3" href="#!">contact</a>       
            </div>
        </div>
        <br>
</footer>
            