<header>
  <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
   <script type="text/javascript" src="static/js/script.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
  <link rel="stylesheet" href="static/css/styles.css">
  <link rel="icon" href="static/img/favicon/favicon-asterisk.ico" type="image/x-icon"/>  
 
</header>
 <nav>
    <div class="nav-wrapper">
            <a class="brand-logo center">Hi</a>
            <ul>
                <li><a href="/">home</a></li>
                <li><a href="/about">about</a</li>
                <li><a href="/contact" >contact</a></li>  
            </ul>
      </div>
  </nav>
 
