
<% include ../partials/header.ejs %>

<title>signup page</title>

<body background="static/img/pexels-photo-45055.jpeg">
<div class="container">
  <form class="col s4" method="post">
      <div class="row">
        <div class="input-field col ">
          <input placeholder="name" id="name" type="text" name="name">
          <label for="first_name">Email</label>
        </div>
      </div>
      <div class="row">
            <div class="input-field col ">
                <input id="password" type="password" name="password">
                <label for="password">Password</label>
            </div>
        </div>  
        <button type="submit" id="reg" class="btn btn-waves-effect waves-light">register
       <i class="fa fa-paper-plane" aria-hidden="true"></i>
    </button>
    
    </form>
 
</div>
    
</body>
<% include ../partials/footer.ejs %><% include ../partials/header.ejs %>
